.sidebar-nav {
    margin-top: 20px;
    padding-left: 40px;
    list-style: square;
}

.helptext {
    font-size: 12px;
    color: darkgray;
}

.errorlist {
    font-size: 12px;
    color: red;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}