{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<h2>{% trans "遊戲" %}: {{ game.name }}</h2>
<br />
<div id="game-area" style="display: flex;">
    <div id="game-progress-area">
        <canvas id="game-view"></canvas>
    </div>
    <div id="game-info-area">
        <ul>
            <li>{% trans "訊息類別" %}: <span id="message-type" style="white-space: pre-wrap;"></span></li>
            <li>{% trans "訊息內容" %}: <span id="message-content" style="white-space: pre-wrap; font-family:monospace;"></span></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'scripts/game_view/progress_drawer.js' %}"></script>
<script>
    let gameCmd = "{{ game_cmd|safe }}";
    let drawer = null;
    let messageTypeText = document.querySelector("#message-type");
    let messageContentText = document.querySelector("#message-content");

    // Create the websocket
    messageContentText.textContent = "Connecting..."
    let gameProgressSocket = new WebSocket(
        "wss://" + window.location.host + "/ws/game_progress");

    // Handle the received message
    gameProgressSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        messageTypeText.textContent = data["type"];
        messageContentText.textContent = JSON.stringify(data["data"]);

        switch (data["type"]) {
            case "game_info":
                drawer = new GameProgressDrawer(document.querySelector("#game-view"), data["data"]);

            case "game_progress":
                drawer.drawFromJSON(data["data"]["game_object"]);
                break;
        }
    };

    gameProgressSocket.onclose = function (e) {
        if (e.code != 1000) {
            gameStatusText.textContent = "ERROR";
            gameMessageText.textContent = "{% trans "無法與伺服器建立 WebSocket: 錯誤碼: " %}";
            gameMessageText.textContent += e.code;
            console.error("Game process socket closed unexpectedly.");
        }
    };

    // Send the game command to start the game
    setTimeout(function(){
        gameProgressSocket.send(gameCmd);
    }, 1000);
</script>
{% endblock %}
