{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "遊戲" %}: {{ game.name }}</h2>
<p>{% trans "上傳程式碼" %}</p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans "上傳" %}">
</form>
{% endblock %}

