{% load i18n %}
<!DOCTYPE html>
<html lang="zh-hant">
<head>
    {% block title %}<title>MLGame Platform</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fuild">
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
                    {% if user.is_authenticated %}
                        <li>{% trans "使用者" %}: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{ request.path }}">{% trans "登出" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{ request.path }}">{% trans "登入" %}</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
            </div>
            <div class="col-sm-10">{% block content %}{% endblock %}</div>
        </div>
    </div>
</body>
{% block script %}{% endblock %}
</html>