{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
<h1>MLGame Platform</h1>
<p>{% trans "選擇要執行的遊戲" %}:</p>
<ul>
{% for game in available_games %}
    <li><a href="{{ game.get_player_code_upload_url }}">{{ game.name }}</a></li>
{% endfor %}
</ul>
<p>{% trans "目前線上房間數" %}: {{ num_of_rooms }}</p>
{% endblock %}
